
.root {
    -fx-font-size: 10pt;
    -fx-font-family: sans-serif;
    -fx-font-weight: bolder;
    -fx-background-color: #515778;
    -fx-focus-color: transparent;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #8590a7;
}

.button:hover {
    -fx-background-color: #a6b4d2;
}

.text-input {
  -fx-background-color: #f4f4f4;
}

.contact-tab:hover {
    -fx-background-color: #646c89;
}

.selected-contact-tab {
    -fx-background-color: #8590a7;
}

.selected-contact-tab:hover {
    -fx-background-color: #8590a7;
}

.message-box > .label {
    -fx-text-fill: black;
}

.timestamp-label {
    -fx-font-size: 8pt;
    -fx-opacity: 0.5;
}

.sent-message-box {
    -fx-background-color: #b9dadb;
}

.pending-message-box {
    -fx-opacity: 0.3;
}

.delivered-message-box {
    -fx-opacity: 1.0;
}

.sent-message-box .content-text {
    -fx-text-alignment: right;
}

.sent-message-box .timestamp-label {
    -fx-alignment: center-right;
}

.received-message-box {
    -fx-background-color: #92b7bf;
}
